# Logs
logs
*.log

#project
coverage
dist
lib

#node
node_modules
npm-debug.log
yarn.error.l
*.tgz

#IDEs
.idea
*.sublime-*
.tern-project

#Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

#git hooks
pre-commit.sh

#.teamcity
.teamcity/target/
.teamcity/.classpath
.teamcity/.settings/
.teamcity/.project
